<launch>
  <node name="drone" pkg="dlnd" type="drone_node" />
  <node name="localization" pkg="dlnd" type="localization_node" output="screen" />
  <param name="nbturret" type="int" value="2" />
  <param name="vx" type="double" value="10" />
  <param name="vy" type="double" value="10" />
  <param name="vz" type="double" value="10" />
  <group ns="turret1">
    <node name="turret" pkg="dlnd" type="turret_node" />
    <param name="id" type="int" value="1" />
    <param name="x" type="double" value="0" />
    <param name="y" type="double" value="0" />
    <param name="z" type="double" value="0" />
    <param name="yaw" type="double" value="0" />
    <param name="pitch" type="double" value="0" />
    <param name="roll" type="double" value="0" />
  </group>
  <group ns="turret2">
    <node name="turret" pkg="dlnd" type="turret_node" />
    <param name="id" type="int" value="2" />
    <param name="x" type="double" value="2.3" />
    <param name="y" type="double" value="-6.3" />
    <param name="z" type="double" value="0" />
    <param name="yaw" type="double" value="1.57" />
    <param name="pitch" type="double" value="0" />
    <param name="roll" type="double" value="0" />
  </group>
</launch>
